
header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgba(15, 23, 42);
    box-shadow: 0px 0px 75px 100px rgba(0,0,0,0.1);
    outline: 1px solid #8648bb;
}

.header-name {
    margin: 0;
    font-size: 2rem;
    display: inline-block;
    background: -webkit-linear-gradient(#ead2fd, #c482fc);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 5rem;
}


.header-list {
    display: flex;
    max-width: 500px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    
    margin-right: 4rem;
}

.header-list li {
    display: inline-block;
    margin: 0 1rem;
    
}

.header-list > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.12rem;
}

.header-list>li>a:hover {
    font-weight: bold;
    cursor: pointer;
}

@media(max-width:800px){
    header{
        flex-direction: column;
        padding: 0.5rem 1rem;
    }

    .header-name{
        margin: 0 auto;
    }

    .header-list {
        
        margin: 1rem auto;
    }

}