.project-grid {
    display: grid;
    max-width: 80%;
    margin: 5rem auto;
    grid-template-columns: repeat(3, auto);
    
}

.project-container {
    margin: 1rem auto;
    padding: 1rem;
    min-width: 300px;
    outline: 2px solid #d19dfc;
    border-radius: 1rem;
}

.project-title {
    font-size: 1.25rem;
    text-align: center;
    color: #a565db;
    margin: 0.5rem;
}

.project-description {
    text-align: center;
    color: #8648bb;
}

.project-container> img {
    display: block;
    max-width: 250px;
    outline: 2px solid white;
    margin: 1rem auto;
}

.project-container > a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    width: 150px;
    margin: 1.5rem auto;
    outline: 2px solid white;
}